#myCanvas {
    border: 1px solid black;
    background-color: lightgrey;
}

#levelButtons{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

#container {
    display: flex;
    gap: 50px;
}